.main-content{
  width: 80%;
  margin: 30px auto;
  min-height: 500px;
  background-color: rgb(214, 207, 207);
  padding: 20px;
}
.taskList{
  display: flex;
  justify-content: space-around;
}
.task-list-title{
  margin-bottom: 10px;
}
.task{
  padding: 30px 20px;
  border-radius: 10px;
  background-color: white;
  width: 200px;
  margin-bottom: 40px;
  min-height: 100px;
}
.task-header{
  display: flex;
  justify-content: space-between;
}
.button-div{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.button{
  padding: 5px;
}
.save-btn{
  display: flex;
  justify-content: flex-end;
}
.save{
  background-color: green;
  padding: 10px 15px;
  color: white;
}
.drop{
  width: 100%;
  margin-bottom: 30px;
}
form{
  width: 100%;
}
input{
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}